<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Nombre</th>
      <th>Posición</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        <% for (let i = 0; i < members.length; i++ ){ %>
            <tr>
            <td>
                <div class="d-flex align-items-center">
            

                <img
                
                    src="<%= members[i].image ? members[i].image : '/imagenes/profile-default.jpg' %>"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                    <p class="fw-bold mb-1"><%= members[i].displayName %></p>
                    <p class="text-muted mb-0"><%= members[i].email %></p>
                </div>
                </div>
            </td>

            <td> <%= members[i].position %>  </td>
            <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                Edit
                </button>
            </td>
            </tr>

            <%} %>
    

  </tbody>
</table> 