body{
    background-color: #eee
}
.menu-admin {
    background-color: #de1985;
    border-radius:0px !important;
    transition:all 0.5s;
    width:135px;
 
}

.nav-link small{
    font-size:12px;
    color: #ffff;
    
}
#nav-link-admin:hover{
    background-color: #9B499C !important
}
.nav-link .fa{
    transition: all 1s;
    font-size:20px;
    color: #ffff;
}
.nav-link:hover .fa{
    transform: rotate(360deg)
}
#main-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

