<div class="menu-admin" >
    <ul class="nav nav-pills nav-flush flex-column mb-auto ">
        <li> <a href="/becarixs" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-address-card" ></i> <small>Becarixs</small> </a> </li>
        <li> <a href="/miembrxs" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-users"></i> <small>Miembrxs</small> </a> </li>
        
    </ul>
</div>