<div>
    <% if(registro) {%>
        <% if(registro =='exitoso') {%>
            <div class="alert alert-success" role="alert">
                <strong>¡Registro exitoso!</strong> Gracias por registrarse.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } else if( registro = 'registrado') {%> 
            <div class="alert alert-warning" role="alert">
                <strong>¡Ya se había registrado previamente!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> 
    <% } else { %>
            <div class="alert alert-danger" role="alert">
                <strong>¡No fue posible registrarse!</strong> Favor de intentarlo nuevamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> 

    <%}} %> 
    <form action="/eventos/registrar" method="POST">
        <div  class="visually-hidden">
            <input type="text"  name="idEvent" value="<%= evento._id %>">
            <input type="text"  name="nameMember" value="<%= user.displayName %>">
            <input type="text"  name="idMember" value="<%= user._id %>">
        </div>
        <button type="submit" class="round-black-btn"  >Regístrate</button>
    </form>    
</div>
