<div>
    <form action="/eventos/registrar" method="POST">
        <div  class="visually-hidden">
            <input type="text"  name="idEvent" value="<%= evento._id %>">
            <input type="text"  name="nameMember" value="<%= user.displayName %>">
            <input type="text"  name="emailMember" value="<%= user.emaail %>">
            <input type="text"  name="idMember" value="<%= user._id %>">
        </div>
        <button type="submit" class="round-black-btn"  >Regístrate</button>
    </form>    
</div>
