<div class="menu-admin" >
    <ul class="nav nav-pills nav-flush flex-column mb-auto ">
        <li> <a href="#" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-dashboard"></i> <small>Dashboard</small> </a> </li>
        <li> <a href="/admin/eventos" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-calendar"></i> <small>Eventos</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-bullhorn" ></i> <small>Conferencias</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-users"></i> <small>Miembrxs</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom" id="nav-link-admin"> <i class="fa fa-address-card" ></i> <small>Becarixs</small> </a> </li>
    </ul>
</div>