<div class="modal" id="deleteEventModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Desea borrar el evento?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Nombre de evento: <%= evento.nameEvent %></p>
        <p>Id de evento: <%= evento._id %></p>
        <p>Descripción de evento: <%= evento.descriptionEvent %></p>
      </div>
      <div class="modal-footer">
        <form action="/eventos/delete" method="POST">
        <button type="submit" name="buttonDelete"class="btn btn-primary" value="<%= evento._id%>" >Borrar evento</button>
         </form>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
       
      </div>
    </div>
  </div>
</div>
