<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../estilos/eventos.css" rel="stylesheet">
    <title>ADA</title>
  </head>
  <%- include('../header'); %>
  <body>
    <div class="blog-home2 py-5">
      <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-md-8 text-center">
            <h3 class="my-3">Futuros Eventos</h3>
            <h6 class="subtitle font-weight-normal">¡No te pierdas de los futuros eventos que tenemos preparados para ti!</h6>
          </div>
          <!-- Column -->
          <!-- Column -->
        </div>
        <div class="row mt-4">
                  <!-- Column -->
                  <div class="col-md-4 on-hover">
                    <div class="card border-0 mb-4">
                      <a href="#"><img class="card-img-top" src="../imagenes/eventos/tardepelis.jpeg" alt="wrappixel kit"></a>
                      <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Mar<span class="d-block">31</span></div>
                      <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Tarde de película</a></h5>
                      <p class="mt-3">Acompáñanos en nuestra tarde de películas donde se estará transmitiendo la película de Marie Curie.</p>
                      <a href="/eventos/evento" class="text-decoration-none linking text-themecolor mt-2">Saber más</a>
                    </div>
                  </div>
          <!-- Column -->
          <div class="col-md-4 on-hover">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="../imagenes/eventos/exatecavanzados.jpeg" alt="wrappixel kit"></a>
              <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Abr<span class="d-block">1</span></div>
              <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Entrevistas vía remoto con ponente exatec Kai Ueda</a></h5>
              <p class="mt-3">No te pierdas nuestros eventos de entrevista para semestres avanzados.</p>
              <a href="#" class="text-decoration-none linking text-themecolor mt-2">Saber más</a>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-4 on-hover">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="../imagenes/eventos/exatecprimeros.jpeg" alt="wrappixel kit"></a>
              <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Abr<span class="d-block">1</span></div>
              <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Entrevistas vía remoto con ponente exatec Kai Ueda</a></h5>
              <p class="mt-3">No te pierdas nuestros eventos de entrevista para primeros semestrales.</p>
              <a href="#" class="text-decoration-none linking text-themecolor mt-2">Saber más</a>
            </div>
          </div>
  
        </div>
      </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <%- include('../usuario/iniciarSesion'); %>
  </body>
</html>